@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dae0e6;
}

.flex-center {
    @apply items-center justify-center;
}

/* The height of header is h-12, which is 3 rem */
.main-content {
    width: 100%;
    height: calc(100vh - 3rem);
}